# BoardGameGeek Project Notebook - Template

## Setup

In [2]:
# Imports
from os import getenv
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
from helpers import sql, wrangle

### Database Connection
*Talk to [Randy](randynobx@gmail.com) for database access.*

Save the connection URI string to 'DB_URI' in an .env file in the project directory.

The below cell will load it and create the connection automatically.

In [3]:
# Database connection
load_dotenv()
url = getenv('DB_URI')
db_conn = create_engine(url)

## Load Data

In [4]:
# Load tables to dataframes
df_games = pd.read_sql_table('game', db_conn, index_col='id')

# Use queries to join tables and then load to dataframes
df_game_designer = sql.sql_query('queries/game_designer_join.sql', db_conn)

KeyError: "None of ['ID'] are in the columns"

## EDA

In [ ]:
df_game_designer.head()

,game_id,title,release_year,avg_rating,bayes_rating,total_ratings,std_ratings,min_players,max_players,min_playtime,max_playtime,weight,owned_copies,designer
0,174430,Gloomhaven,2017,8.70519,8.47345,51642,1.65614,1,4,60,120,3.8855,83430,Isaac Childres
1,224517,Brass: Birmingham,2018,8.65648,8.42888,30037,1.25181,2,4,60,120,3.9136,44406,Gavan Brown
2,224517,Brass: Birmingham,2018,8.65648,8.42888,30037,1.25181,2,4,60,120,3.9136,44406,Matt Tolman
3,224517,Brass: Birmingham,2018,8.65648,8.42888,30037,1.25181,2,4,60,120,3.9136,44406,Martin Wallace
4,161936,Pandemic Legacy: Season 1,2015,8.57712,8.42617,47351,1.56374,2,4,60,60,2.8284,74121,Rob Daviau